@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Permanent+Marker&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Encode Sans Expanded', Helvetica, sans-serif;
    color: #353535;
}

/*----------------- NAVBAR ------------------ */
.top-navbar {
    overflow: hidden;
    background-color: #d9d9d9;
    font-family: Arial;
    width: 100%;
}

.top-navbar a {
    float: left;
    font-size: 14px;
    color: #353535;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}

.caret-down {
    font-size: 10px;
    margin-left: 5px;
}
  
.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
.top-navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #284B63;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}



/*--------------- HEADER ---------------- */
.header-div {
    min-height: 75px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.head-text {
    padding: 0 1%;
}

.h1-text {
    text-align: right;
    text-transform: uppercase;
    color: #000;
}

h1 {
    font-family: 'Encode Sans Semi Condensed', Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 100;
}

.h2-text {
    margin: auto 0 auto 0;
    text-align: left;
    text-transform: lowercase;
}

h2 {
    font-family: 'Encode Sans', Helvetica, sans-serif;
    font-size: 1rem;
}



/*---------------PAGE CONTENT ---------------- */

main {
    width: 95%;
    margin: auto;
}

.wrapper, section { 
    margin: 100px 0;
}

.about {
    width: 90%;
    margin: auto;
}

p {
    margin-bottom: 50px;
}

.etsy-link {
    color: #3C6E71;
}

.etsy-link:hover {
    color: #000;
}

.etsy-link:visited {
    color: #284B63;
}


.emphasis {
    font-family: 'Permanent Marker', Helvetica, sans-serif;
    color: #cf8c8f;
    font-size: 18px;
}

.exp-p2 {
    text-align: center;
}

.skill-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.dev-skills, .des-skills {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.skills ul {
    padding: 0;
}

li {
    list-style: none;
}

/*--------------- FOOTER ---------------- */

footer {
    background-color: #3C6E71;
    font-size: small;
}

.download-cv {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.download-cv a {
    color: #fff;
}

.footer-text {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: small;
}
/*--------------- RESPONSIVENESS ---------------- */

@media screen and (max-width: 600px) {
    .header-div {
        display: inline-block;
    }

    h1 {
        text-align: left;
    }

    h2 {
        text-align: right;
    }
}