@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vast+Shadow&display=swap');

body {
    background-color: #444;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.about-me {
    position: fixed;
    width: 40%;
    left: 50%;                      /* centers a */
    transform: translate(-50%, 0);  /* fixed div */
}

header {
    text-align: center;
    margin: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.about-text {
    width: 90%;
    margin: auto;
}

p {
    text-indent: 30px;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    row-gap: 3%;
}

.grid-item {
    display: inline-grid;
    width: 90%;
    padding-top: 90%; /*aspect ratio*/
    position: relative;
    text-align: center;
    margin: auto; /* centers the grid*/
    border-radius: 5px;
}

h4 { /*maintains aspect ratio of div boxes*/
    position: absolute;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
}

.empty-div {
    grid-row: 1 / span 2;
    grid-column: 2;
    }

.styling {
    background-color: #333;
    border: 2px outset #222;
}

.linkedin {
    grid-row: 2;
    grid-column: 1;
}

.developer-portfolio {
    grid-row: 1;
    grid-column: 3;
}

.design-portfolio {
    grid-row: 1;
    grid-column: 1;
}

.contact-me {
    grid-row: 2;
    grid-column: 3;
}

footer {
    display: none;
}






@media screen and (max-width: 1050px) {

    .container {
        margin: auto;
        display: block;
    }

    .about-me {
        left: 0;
        transform: none;
        position: relative;
        width: 60%;
        float: left;
        border: 1px solid red;
    }

    .grid-item {
        display: block;
        width: 39%;
        float: right;
        height: 100px;
        padding: 0;
        margin: 0 auto 4% auto;
    }

    h4 {
        position: absolute;
        top: 20%;   /*<- Justify's the text at roughly the center of the div */
        left: 0;    /* ... I have been coding for months and still can't */
        bottom: 0;  /* remember how to justify text within a div*/
        right: 0;
    }

    .empty-div {
        display: none;  /* The empty div is a place-holder for the grid display */
    }                   /* Grid not needed for phone attributes */








@media screen and (max-width: 750px) {
    body {
        padding: 0;
        margin: 0;
    }

    .container {
        margin: auto;
    }

    .about-me {
        position: relative;
        float: none;
        width: 95%;
        left: 0;
        transform: none;        /* I used transform to center the fixed div */
        margin: 0 auto 0 auto;    /*It's no longer fixed so transform isn't needed*/

    }                       

    .grid-item {
        float: none;
        display: block;
        width: 95%;
        height: 100px;
    }

    .empty-div {
        display: none;
    }

    header {
        margin: 10% auto;
    }

    h2 {
        padding-bottom: 20px;
        width: 90%;
        margin: auto;
    }

    .about-text {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 7% 0 7% 0;
    }
}