body {
    background-color: #444;
    color: #fff;
    font: Arial, sans-serif;
}

.about-me {
    position: fixed;
    width: 40%;
    left: 50%;                      /* centers a */
    transform: translate(-50%, 0); /* fixed div */
}

header {
    text-align: center;
}

.about-text {
    width: 90%;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.grid-item {
    display: inline-grid;
    width: 100%;
    padding-top: 100%; /*aspect ratio*/
    position: relative;
    border: 1px solid cyan;
    text-align: center;
}

h3 { /*maintains aspect ratio of div boxes*/
    position: absolute;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
}

.empty-div {
    grid-row: 1 / span 2;
    grid-column: 2;
    border: 1px solid red;
    }

.linkedin {
    grid-row: 2;
    grid-column: 1;
}

.developer-portfolio {
    grid-row: 1;
    grid-column: 3;
}

.design-portfolio {
    grid-row: 1;
    grid-column: 1;
}

.contact-me {
    grid-row: 2;
    grid-column: 3;
}

footer {
    display: static;
    text-align: center;
    margin-top: 100px;
}





@media screen and (max-width: 700px) {
    .container {
        display: inline; 
    }

    .about-me {
        position: relative;
        width: 100%;
        left: 0;
        transform: none;    /* I used transform to center the fixed div */
    }                       /*It's no longer fixed so transform isn't needed*/

    .empty-div {
        display: none;  /* The empty div is a place-holder for the grid display */
    }                   /* Grid not needed for phone attributes */

    .grid-item {
        height: 100px;
        padding: 0;
        margin-bottom: 5%;
    }

    h3 {
        position: absolute;
        top: 20%;   /*<- Justify's the text at roughly the center of the div */
        left: 0;    /* ... I have been coding for months and still can't */
        bottom: 0;  /* remember how to justify text within a div*/
        right: 0;
    }

    footer {
        margin-top: 25px;
    }
}